
	<div class="panel panel-primary" >  
		<div class="panel-heading">  
			<div class="panel-body">

					<table class="table table-condensed">
							<tr>
								<th><big>{{activePlayer.name}}</big></th>
								<th><big>VP: {{activePlayer.vp}}</big></th>
								<th><big>Bonus: {{activePlayer.bonus}}</big></th>
								<th><big>Gold: {{activePlayer.gold}}</big></th>								
								<th><big>Total: {{activePlayer.gold + activePlayer.vp + activePlayer.bonus}}</big></th>								
								<th><big>Turns: {{activePlayer.turns}}</big></th>
							</tr>
					</table>

			</div>
			
			<br></br>
						<h4>Event! - Treasure!</h4>
						<div class="container-fluid">
							<div class="row">
								<span ng-repeat="questcard in game.questsInPlay.playingCards track by $index">
									<questcard ng-show="questcard.level===4" info="questcard"></questcard>
									<button ng-show="questcard.level===4" class="btn btn-warning" ng-click="playerCompleteEvent(0, $index)">Complete Event?</button>
								</span>	
							</div>
						</div>
			


		</div>
	</div>



