<ng-include src="'gameEventHeader.html'"></ng-include>
<div class="panel panel-primary">
	<ng-include src="'playerHeader.html'"></ng-include>		

	<br></br>

	<div class="row" ng-disabled="loadingData">
	<div class="col-sm-3" ng-repeat="cart in activePlayer.carts track by $index" >
			<img  class="tab10" ng-if="cart.active" style="{{cart.borderColor}}" width="{{cart.width}}" height="{{cart.height}}" ng-src="{{cart.image}}" ng-click="userClickedCartImageEvent(cart.id)"></img>
			<span class="col-sm-1" ng-repeat="card in cart.cards.playingCards track by $index" >
				<img  style="{{card.borderColor}}" ng-click="userClickedCartItemEvent(cart.id, $index)" ng-src="{{card.image}}"/>
			</span>
			<span ng-if="cart.active">
				<button ng-disabled="loadingData===true" class="btn btn-warning" ng-click="playerDiscardFromCart($index)" ng-if="cart.cardSumSelected > 0 && selectedCartItemsCount===1" >Pay taxes with item(s)? </button>
			</span>	
			
		</div>
	</div>
	<p></p>
	<table class="table table-condensed">
		<thead>
			<tr>
				<td>
					<div class="left"><ng-include src="'cardsEvent.html'"></ng-include></div>
				</td>
				<td>
					<div class="right"><ng-include src="'marketEvent.html'"></ng-include></div>
				</td>
			</tr>
		</thead>
	</table>
</div>

<h4 class="tab40" ng-show="activePlayer.gold === 0 && totalCardsFound === 0">Event! Castle Taxation - Click Complete Event you poor bum.</h4>
<h4 class="tab40" ng-show="activePlayer.gold >= 1 && totalCardsFound === 1">Event! Castle Taxation - Select your only item for Castle Tax or pay one gold.</h4>
<h4 class="tab40" ng-show="activePlayer.gold === 0 && totalCardsFound >= 2">Event! Castle Taxation - Select any two items for Castle Tax.</h4>
<h4 class="tab40" ng-show="activePlayer.gold >= 1 && totalCardsFound >= 2">Event! Castle Taxation - Select either: Any two items or Pay one Gold for Castle Tax.</h4>
	<div>
		<div class="row">
			<span ng-repeat="eventcard in game.questsInPlay.playingCards track by $index">
				<eventcard ng-show="eventcard.level===4" info="eventcard"></eventcard>
				<span class = "tab40" ng-show="eventcard.level===4" ng-if="activePlayer.gold > 0"></span>
				<button ng-show="eventcard.level===4" ng-if="activePlayer.gold > 0" class="btn btn-warning" ng-click="playerCompleteEvent($index, 'gold')">Pay with gold & Complete Event</button>
				<button ng-show="eventcard.level===4" ng-if="activePlayer.gold === 0 && totalCardsFound === 0" class="btn btn-warning" ng-click="playerCompleteEvent($index, 'none')">Complete Event</button>
				<button ng-show="eventcard.level===4" ng-if="totalCardsFound >= 1" class="btn btn-warning" ng-click="playerCompleteEvent($index,'items')">Pay with items & Complete Event</button>   
			</span>	
		</div>
	</div>



		
