<ng-include src="'gameEventHeader.html'"></ng-include>
<div class="panel panel-primary">
	<ng-include src="'playerHeader.html'"></ng-include>		

	<br></br>

	<div class="row" ng-disabled="loadingData">
		<div class="col-sm-3" ng-repeat="cart in activePlayer.carts track by $index" >
			<img  class="tab10" ng-if="cart.active" style="{{cart.borderColor}}" width="{{cart.width}}" height="{{cart.height}}" ng-src="{{cart.image}}" ng-click="userClickedCartImage(cart.id)"></img>
			<span class="col-sm-1" ng-repeat="card in cart.cards.playingCards track by $index" >
				<img  style="{{card.borderColor}}" ng-click="userClickedCartItemEvent(cart.id, $index)" ng-src="{{card.image}}"/>
			</span>
		</div>
	</div>
	<p></p>
	<table class="table table-condensed">
		<thead>
			<tr>
				<td>
					<div class="left"><ng-include src="'cardsEvent.html'"></ng-include></div>
				</td>
				<td>
					<div class="right"><ng-include src="'marketEvent.html'"></ng-include></div>
				</td>
			</tr>
		</thead>
	</table>
</div>


<h4 class="tab40" ng-show="totalCartCardsFound === 0">Event! Goblin Raid - Nothing for Goblin to steal!  Clike Complete Event.</h4>
<h4 class="tab40" ng-show="totalCartCardsFound > 0">Event! Goblin Raid - Select one item vrom cart/wagons for Goblin to steal.</h4>
<ng-include src="'eventTemplateNoHeader.html'"></ng-include>


		
