		<div class="container">
			<div class="row">


				<div  style="float:right; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 5px;">
								<button class="btn btn-warning" ng-click="endGame()">Quit</button>
				</div>

			</div>
		</div>


<div class="row" ng-repeat="player in game.players" >
	<div class="panel panel-primary" ng-show="player.active">  
		<div class="panel-heading">  
			<div class="panel-body">
			
					<table class="table table-condensed">

						
							<tr>
								<th><big>{{player.name}}</big></th>
								<th><big>Actions Remaining {{player.actionsRemaining}}</big></th>
								<th><big>VP: {{player.vp}}</big></th>
								<th><big>Bonus: {{player.bonus}}</big></th>
								<th><big>Gold: {{player.gold}}</big></th>								
								<th><big>Total: {{player.gold + player.vp + player.bonus}}</big></th>								
								<th><big>Turns: {{player.turns}}</big></th>
							</tr>
						
					</table>
					

			</div>
		</div>
		<br></br>
		<div class="container-fluid">
			<div class="row">

			<div class="col-sm-3" ng-repeat="cart in player.carts track by $index" >
						<div ng-disabled="player.nextCartId < cart.id" ng-if="!cart.active"><b>Gold Cost:</b> {{cart.goldCost}} <span style="color:red;">/</span><b>Item Cost:</b> {{cart.itemCost}}</div>
						<img ng-if="cart.active" style="border:3px solid {{cart.borderColor}}" width={{cart.width}} height={{cart.height}}" ng-src="{{cart.image}}" ng-click="userClickedCartImage(cart.id)"></img>
							<span  class="col-sm-1" ng-repeat="card in cart.cards.playingCards track by $index" >
								<img  style="border:2px solid {{card.borderColor}}" ng-click="userClickedCartItem(cart.id, $index)" ng-src="{{card.image}}" width = "{{card.cardImage.width}}" 	height = "{{card.cardImage.height}}" />
							</span>


						<p>Cart can hold: {{cart.size -  cart.cards.playingCards.length}} more items(s)</p>
				</div>
			</div>
			<br></br>
				<span style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;" ng-repeat="card in player.cards.playingCards track by $index" >
					<img ng-click="userClickedItemImage($index)" style="border:2px solid {{card.borderColor}}"  ng-src="{{card.image}}"	width = "{{card.cardImage.width}}" 	height = "{{card.cardImage.height}}" />
				</span>
			</div>	<p></p>		


					<h4 class="panel panel-danger">Event!</h4>
						<div class="container-fluid">
							<div class="row">
								<span ng-repeat="questcard in game.questsInPlay.playingCards track by $index">
									<questcard ng-show="questcard.level=='4'" info="questcard"></questcard>
									<button ng-show="questcard.level=='4'" class="btn btn-warning" ng-click="playerCompleteEvent()">Complete Event?</button>
								</span>	
							</div>
						</div>
					</div>

			





			<h4>Market</h4>
				<table class="table table-condensed">
					<thead>
					<tr>
						<span ng-repeat="cardcount in game.marketHolders.playingCards track by $index">
							<marketcardcount info="cardcount"></marketcardcount>
						</span>
					</tr>
					<td>
						<span ng-repeat="marketcard in game.marketHolders.playingCards track by $index">
							<img style="border:2px solid {{marketcard.borderColor}}" width = "{{marketcard.cardImage.width}}" height = "{{marketcard.cardImage.height}}" ng-src="{{marketcard.image}}" ng-show = "marketcard.count > 0" ></img>
						</span>
					</td>
					</thead>
				</table>
				
				<div>My Completed Quests</div>
				<span ng-repeat="questcard in activePlayer.questsCompleted.playingCards track by $index">
					<img width = "80" height = "100" ng-src="{{questcard.image}}"></img>
				</span>

				<br></br>
				<div class="col-sm-2">
			      <table class="table table-condensed">

					<thead>
						<tr>
							<th class="alignleft"><big>Item Cards: {{itemsCountRemaining}}</big></th>
							<th class="alignjustify"><big>Quest Cards: {{questsCountRemaining}}</big></th>
							<th ng-show="game.discardsCount > 0" ><big>Discards: {{discardsCount}}</big></th>
						</tr>
						<tr>
						<th>
						<img ng-src="{{itemCardBack}}" width = auto height = "180" class="alignleft"></img>
						</th>	
						<th>
						<img ng-src="{{vendorCardBack}}" width = auto height = "180" class="alignjustify"</img>
						</th>	
						<th>
						<img ng-show="discardsCount > 0" ng-src="{{game.lastDiscard.image}}" width = auto height = "180" ></img>
						</th>
						</tr>
					</thead>
			
				</div>

	</div>

</div> <!-- done row -->
		
			
