<div class="container">
	<div class="row" >
			<div  style="float:right; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 5px;">
				<button class="btn btn-warning" ng-click="playerRefresh()" >Refresh</button>    
				<button ng-disabled="loadingData===true" class="btn btn-danger" ng-click="endGame()">Quit</button>
			</div>
	</div>
</div>
<div>
<big>Results of the Event!</big><button class="btn btn-danger" ng-click="playerCompletedEvent()">Back to Game?</button>
</div>
<div class="row" ng-repeat="player in game.players" >
	<div class="panel panel-primary">  
		<div class="panel-heading">  
			<div class="panel-body">
					<table class="table table-condensed">
							<tr>
								<th><big>{{player.name}}</big></th>
								<th><big>VP: {{player.vp}}</big></th>
								<th><big>Bonus: {{player.bonus}}</big></th>
								<th><big>Gold: {{player.gold}}</big></th>								
								<th><big>Total: {{player.gold + player.vp + player.bonus}}</big></th>								
								<th><big>Turns: {{player.turns}}</big></th>
							</tr>
					</table>
 
			<div class="row">
				<div>{{player.name}}'s has completed event {{activeEvent.eventText}}</div>
				<span ng-repeat="eventcard in game.questsInPlay.playingCards track by $index">
					<eventcard ng-show="eventcard.level===4" info="eventcard"></eventcard>
				</span>					
				<p></p>
			</div>
		</div>
	</div>	
</div>