<h4>
Awaiting others to pass..
<img ng-src="{{knight}}"></img>
</h4>
<br></br>


<div class="container" >
	<div class="row" >
			<div  style="float:right; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 5px;" ng-show="isActive===false">
							<button ng-disabled="loadingData===true" class="btn btn-warning" ng-click="endGame()">Quit</button>
			</div>
			<div  style="float:right; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 5px;" >
							<button class="btn btn-warning" ng-click="playerRefresh()" >Refresh</button>    
			</div>
	</div>
</div>

	<div class="panel panel-primary">  
		<div class="panel-heading">  
			<!--<div class="panel-body">-->
				<table class="table table-condensed">
					<tr>
						<th><big>{{activePlayer.name}}</big></th>
						<th><big>Actions Remaining {{activePlayer.actionsRemaining}}</big></th>
						<th><big>VP: {{activePlayer.vp}}</big></th>
						<th><big>Bonus: {{activePlayer.bonus}}</big></th>
						<th><big>Gold: {{activePlayer.gold}}</big></th>								
						<th><big>Total: {{activePlayer.gold + activePlayer.vp + activePlayer.bonus}}</big></th>								
						<th><big>Turns: {{activePlayer.turns}}</big></th>
					</tr>
				</table>
			<!--<div>-->
		</div>

		<br></br>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3" ng-repeat="cart in activePlayer.carts track by $index" >
					<img ng-if="cart.active" style="{{cart.borderColor}}" width="{{cart.width}}" height="{{cart.height}}" ng-src="{{cart.image}}"/>
										
					<span class="col-sm-1" ng-repeat="card in cart.cards.playingCards track by $index">
						<img style="{{card.borderColor}}" ng-src="{{card.image}}"/>
					</span>
				</div>	
			</div>
			<p></p>		
			<!--added card.positionOnStack variable to the index to make it unique or cards would not render as they are dupes-->
			<span style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;" ng-repeat="card in activePlayer.cards.playingCards track by $index + card.positionOnStack" >
				<img style="{{card.borderColor}}"  ng-src="{{card.image}}" />
			</span>

		</div>
		<div>

			<div ng-show="activePlayer.questsCompleted.playingCards.length > 0" >{{activePlayer.name}}'s Completed Quests:</div>
			<span ng-repeat="questcard in activePlayer.questsCompleted.playingCards track by $index">
				<img style="{{card.borderColor}}" ng-src="{{questcard.image}}"></img>
			</span>

		</div>
		

	</div>



<button class="btn btn-warning" ng-click="showOtherPlayerDataClick()" >{{showHideVar}} Other Player Info?</button>
<div><ng-include src="'otherPlayers.html'" ></ng-include></div>








				

		
			
