<!DOCTYPE html >

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="dsApp">
<head>
    <meta charset="utf-8" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"/>
    <script type="text/javascript" src="//cdn.rawgit.com/cornflourblue/angu-fixed-header-table/master/angu-fixed-header-table.js"></script>
	<link rel="stylesheet" href="custom.css"/>
	
    <script type="text/javascript" src="dsApp.js" ></script>
    <script type="text/javascript" src="factory.js" ></script>
    <script type="text/javascript" src="items.js"></script>
    <script type="text/javascript" src="quests.js"></script>
    <script type="text/javascript" src="dsModel.js" ></script>
    <script type="text/javascript" src="dsUtil.js" ></script>
    <script type="text/javascript" src="ds.js" ></script>

	
	
</head>

<body ng-controller="dsCtrl">

<audio id="choppingWood">
	<source src="../sounds/choppingWood.mp3"></source>
</audio>
<audio id="trash">
	<source src="../sounds/trash.mp3"></source>
</audio>
<audio id="ambiance">
	<source src="../sounds/ambiance.mp3"></source>
</audio>
<audio id="card">
	<source src="../sounds/card.mp3"></source>
</audio>
<audio id="anvil">
	<source src="../sounds/anvil.mp3"></source>
</audio>
<audio id="swords">
	<source src="../sounds/swords.mp3"></source>
</audio>
<audio id="horseNeigh">
	<source src="../sounds/horseNeigh.mp3"></source>
</audio>
<audio id="questComplete">
	<source src="../sounds/questComplete.mp3"></source>
</audio>
<audio id="fish">
	<source src="../sounds/fish.mp3"></source>
</audio>
<audio id="button">
	<source src="../sounds/button.mp3"></source>
</audio>
<audio id="cards">
	<source src="../sounds/cards.mp3"></source>
</audio>
<audio id="pass">
	<source src="../sounds/pass.mp3"></source>
</audio>
<audio id="market">
	<source src="../sounds/market.mp3"></source>
</audio>
<audio id="buyCart">
	<source src="../sounds/buyCart.mp3"></source>
</audio>


    <div class="panel panel-info">
		<div class="panel-heading">
			<span class="panel-title pull-right">
				<button class="btn btn-info" ng-click="showOptionsClick()">Options</button>
				<button class="btn btn-primary" ng-click="noGame()">Reset</button>
			</span>
			<span class="panel-title pull-right">
				<ng-include src="'options.html'" ng-show="showOptions"></ng-include>
			</span>

			<img ng-show="displayMode != 'nogame'" ng-src="{{titleImg}}"></img><big> {{displayModeName}}</big>

			<ng-include src="'nogame.html'" ng-show="displayMode === 'nogame'"></ng-include>
			<ng-include src="'game.html'" ng-show="displayMode === 'game'"></ng-include>
			<ng-include src="'gameSpectator.html'" ng-show="displayMode === 'gameSpectator'"></ng-include>
			<ng-include src="'eventCompleted.html'" ng-show="displayMode === 'eventCompleted'"></ng-include>
			<ng-include src="'gameover.html'" ng-show="displayMode === 'gameover'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventTemplate'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventKingsFeast'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventMarketShortage'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventMarketSurplus'"></ng-include>
			<ng-include src="'eventVikingParade.html'" ng-show="displayMode === 'eventVikingParade'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventTreasure'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventBarbarianAttack'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventSandStorm'"></ng-include>
			<ng-include src="'eventTemplate.html'" ng-show="displayMode === 'eventHailStorm'"></ng-include>
			<ng-include src="'eventOrcsAttack.html'" ng-show="displayMode === 'eventOrcsAttack'"></ng-include>
			<ng-include src="'eventBrokenItems.html'" ng-show="displayMode === 'eventBrokenItems'"></ng-include>
			<ng-include src="'eventCastleTaxation.html'" ng-show="displayMode === 'eventCastleTaxation'"></ng-include>
			<ng-include src="'eventGoblinRaid.html'" ng-show="displayMode === 'eventGolbinRaid'"></ng-include>
			<ng-include src="'eventHiddenRoom.html'" ng-show="displayMode === 'eventHiddenRoom'"></ng-include>
			<ng-include src="'eventThrownInTheDungeon.html'" ng-show="displayMode === 'eventThrownInTheDungeon'"></ng-include>
		</div>
	</div>
	<div ng-show="displayMode != 'nogame' && displayMode != 'gameover' && displayMode != 'eventCompleted'">
		<div><ng-show="displayMode === 'game'" ng-include src="'quests.html'"></ng-include>  </div>
		<div><ng-include src="'gameFooter.html'" ></ng-include></div>
		<div><ng-include src="'playerLog.html'"></ng-include></div>
	</div>
</body>
</html>