<table>
	<thead>
	<tr><big><b><u>Market:</u></b></big>
		<td>
			<span ng-repeat="marketcard in game.itemMarketHolders.playingCards track by $index">
				<span> 
					<img ng-show = "marketcard.count > 0" ng-src="{{marketcard.countImg}}"></img>
				</span>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span ng-repeat="marketcard in game.itemMarketHolders.playingCards track by $index">
				<img ng-show = "marketcard.count > 0" ng-src="{{marketcard.image}}"></img>
			</span>
		</td>
	</tr>
	</thead>
</table>
