<div>
	<h4>Market:</h4>

	<div ng-show="debug">			
	<br></br>
	<p>Card Sum Selected: {{activePlayer.cardSumSelected}}</p>
	<p>Sum Market Value Selected: {{sumMarketValueSelected}}</p>
	<br></br>
	</div>


	<table class="table table-condensed">
		<thead>
		<tr>
			<td>
				<span ng-repeat="marketcard in game.itemMarketHolders.playingCards track by $index">
					<span> 
						<img ng-show = "marketcard.count > 0" ng-src="{{marketcard.countImg}}" ng-click="userClickedMarketImage($index)"></img>
					</span>
				</span>
			<td>
		</tr>
<tr>
		<td>
			<span ng-repeat="marketcard in game.itemMarketHolders.playingCards track by $index">
				<img ng-show = "marketcard.count > 0" ng-src="{{marketcard.image}}" ng-click="userClickedMarketImage($index)"></img>
			</span>
		</td>
</tr>


		<tr ng-show="isActive===true">
			<td> <span  ng-show="sumMarketValueSelected > 0"><b>Items selected for trade:<b></span>
				<span ng-repeat="tradecard in game.marketDeckInTrade.playingCards track by $index">
					<img ng-src="{{tradecard.image}}" ng-click="userClickedMarketTradeImage($index)"></img>
				</span>
				<button ng-disabled="loadingData===true" class="btn btn-warning" ng-show="sumMarketValueSelected < 11 && sumMarketValueSelected > 0 && activePlayer.cardSumSelected === sumMarketValueSelected" ng-click="playerMarketTrade()" >Trade {{game.sumMarketValueSelected}} item points?</button>    
			</td>
		</tr>


		</thead>
	</table>
</div>
