<div class="panel-body">
			<span class="panel-title pull-right"><button class="btn btn-primary" ng-click="noGame()">Reset</button></span>
			<img  ng-src="{{splashImage}}" width = "auto" height = "500" ></img>
			<br></br>
			<br></br>
			<p>Enter your name: <input type="text" ng-model="playerName"></input></p>
			<p>Number of players: <input type="text" ng-model="numberOfPlayers"></input></p>
			<br></br>
			<br></br>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<form>
					
					<!-- NAME INPUT -->
					<label>Options</label>
					<div class="form-group">
					<ul>
						<li class="checkbox">
							<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-click="debugCheck()" ng-model="debug"> Debug mode
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-click="hideImagesCheck()" ng-model="hideImagesBool"> Hide Images?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="autoSelectCart"> Auto-select cart items when quest(s) can be completed?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="autoSelectHand"> Auto-select hand items when quest(s) can be completed?
						</li>
						</ul>
					</div>
					
					<!-- =============================================== -->
					<!-- ALL OUR CHECKBOXES AND RADIO BOXES WILL GO HERE -->
					<!-- =============================================== -->
					
					<!-- SUBMIT BUTTON (DOESNT DO ANYTHING) -->
					<button ng-show="numberOfPlayers > 0" class="btn btn-danger btn-lg" ng-click="newGame(numberOfPlayers, playerName)" ng-cloak>Start Game</button>            
					<button class="btn btn-primary" ng-click="joinGame(numberOfPlayers,playerName)" ng-cloak>Join Game</button>
						
				</form>
			</div>
</div>