<div class="panel-body">
			<span class="panel-title pull-right"><button class="btn btn-primary" ng-click="noGame()">Reset</button></span>
			<img  class = "splashImg" ng-src="{{splashImage}}"></img><big ng-show="displayMode != 'nogame'"></big>
			<br></br>
			<br></br>
				

	<div class="panel panel-primary" style="width=200px;" ng-repeat="game in gamesAvailable | orderBy : 'numPlayers'">  
					<p>Enter your name: <input type="text" class="inputText" ng-model="playerName" ng-Init="Player"></input></p>

		<div class="panel-heading" >  
			<big><b>{{game.numPlayers}} player game? &nbsp;&nbsp;&nbsp; There 
				<span ng-switch on="game.numPlayers">
					<span ng-switch-when="1">is</span>
					<span ng-switch-default>are</span>
				<span>
				{{game.spaceAvailable}} open 
				<span ng-switch on="game.numPlayers">
					<span ng-switch-when="1">seat.</span>
					<span ng-switch-default>seats.</span>
				</span>
				</b>
			</big>
			<div>
				<button class="btn btn-danger" ng-click="joinGame(game.gameKey, game.numPlayers, playerName, playerId)">Join Game</button>
			</div>
		</div>
	</div>
			
<!--			<p>Player ID: <input type="text" ng-model="playerId" ng-Init="0"></input></p>-->
<!--			<p>Enter your name: <input type="text" ng-model="playerName"></input></p>-->
<!--			<p>Number of players: <input type="text" ng-model="numberOfPlayers"></input></p>-->

			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<form>
					
					<!-- NAME INPUT -->
					<label>Options</label>
					<div class="form-group">
						<ul>
							<!--<li class="checkbox">
								<input type="checkbox" ng-click="debugCheck()" ng-model="debug"> Debug mode
							</li>
							<li class="checkbox">
								<input type="checkbox" ng-click="hideImagesCheck()" ng-model="hideImagesBool"> Hide Images?
							</li>-->
							<li class="checkbox">
								<input type="checkbox" ng-click="soundsCheck()" ng-model="sounds"> Sounds On?
							</li>
							<li class="checkbox">
								<input type="checkbox" ng-click="musicCheck()" ng-model="music"> Music On?
							</li>						
							<li class="checkbox">
								<input type="checkbox" ng-click="autoSelectCartCheck()" ng-model="autoSelectCart"> Auto-select cart items when quest(s) can be completed?
							</li>
							<li class="checkbox">
								<input type="checkbox" ng-click="autoSelectHandCheck()" ng-model="autoSelectHand"> Auto-select hand items for first quest match?
							</li>
							<li class="checkbox">
								<input type="checkbox" ng-click="autoSelectQuestCheck()" ng-model="autoSelectQuest"> Auto-select first quest match when quest(s) can be completed?
							</li>
							<li class="checkbox">
								<input type="checkbox" ng-click="autoPassCheck()" ng-model="autoPass"> Auto-pass when out of gold?
							</li>						
						</ul>
					</div>
						
					<!-- =============================================== -->
					<!-- ALL OUR CHECKBOXES AND RADIO BOXES WILL GO HERE -->
					<!-- =============================================== -->
					
					<!-- SUBMIT BUTTON (DOESNT DO ANYTHING) -->
					<!--<button ng-show="numberOfPlayers > 0" class="btn btn-danger btn-lg" ng-click="newGame(numberOfPlayers, playerName)" ng-cloak>Start Game</button>            -->
					<!--<button class="btn btn-primary" ng-click="joinGame(playerName, playerId)" ng-cloak>Join Game</button>-->
						
				</form>
			</div>
</div>