<div class="panel-body">
			<span class="panel-title pull-right"><button class="btn btn-primary" ng-click="noGame()">Reset</button></span>
			<img  ng-src="{{splashImage}}" width = "auto" height = "500" ></img>
			<br></br>
			<br></br>
			<p>Player ID: <input type="text" ng-model="playerId" ng-Init="0"></input></p>
			<p>Enter your name: <input type="text" ng-model="playerName"></input></p>
			<p>Number of players: <input type="text" ng-model="numberOfPlayers"></input></p>
			<br></br>
			<br></br>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<form>
					
					<!-- NAME INPUT -->
					<label>Options</label>
					<div class="form-group">
					<ul>
						<li class="checkbox">
							<input type="checkbox" ng-click="debugCheck()" ng-model="debug"> Debug mode
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-click="hideImagesCheck()" ng-model="hideImagesBool"> Hide Images?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-click="soundsCheck()" ng-model="sounds"> Sounds On?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-click="musicCheck()" ng-model="music"> Music On?
						</li>						
						<li class="checkbox">
							<input type="checkbox" ng-click="autoSelectCartCheck()" ng-model="autoSelectCart"> Auto-select cart items when quest(s) can be completed?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-click="autoSelectHandCheck()" ng-model="autoSelectHand"> Auto-select hand items for first quest match?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-click="autoSelectQuestCheck()" ng-model="autoSelectQuest"> Auto-select first quest match when quest(s) can be completed?
						</li>
						<li class="checkbox">
							<input type="checkbox" ng-click="autoPassCheck()" ng-model="autoPass"> Auto-pass when out of gold?
						</li>						</ul>
					</div>
					
					<!-- =============================================== -->
					<!-- ALL OUR CHECKBOXES AND RADIO BOXES WILL GO HERE -->
					<!-- =============================================== -->
					
					<!-- SUBMIT BUTTON (DOESNT DO ANYTHING) -->
					<button ng-show="numberOfPlayers > 0" class="btn btn-danger btn-lg" ng-click="newGame(numberOfPlayers, playerName)" ng-cloak>Start Game</button>            
					<button class="btn btn-primary" ng-click="joinGame(playerName, playerId)" ng-cloak>Join Game</button>
						
				</form>
			</div>
</div>