<div class="col-xs-12 col-sm-10 col-sm-offset-1" ng-show = "showOptionsClick">
	<form>
		
		<!-- NAME INPUT -->
		<div class="form-group">
			<ul>
				<!--<li class="checkbox">
					<input type="checkbox" ng-click="debugCheck()" ng-model="debug"> Debug mode
				</li>
				<li class="checkbox">
					<input type="checkbox" ng-click="hideImagesCheck()" ng-model="hideImagesBool"> Hide Images?
				</li>-->
				<li class="checkbox">
					<input type="checkbox" ng-click="soundsCheck()" ng-model="sounds"> Sounds On?
				</li>
				<li class="checkbox">
					<input type="checkbox" ng-click="musicCheck()" ng-model="music"> Music On?
				</li>						
				<li class="checkbox">
					<input type="checkbox" ng-click="autoSelectCartCheck()" ng-model="autoSelectCart"> Auto-select cart items when quest(s) can be completed?
				</li>
				<li class="checkbox">
					<input type="checkbox" ng-click="autoSelectHandCheck()" ng-model="autoSelectHand"> Auto-select hand items for first quest match?
				</li>
				<li class="checkbox">
					<input type="checkbox" ng-click="autoSelectQuestCheck()" ng-model="autoSelectQuest"> Auto-select first quest match when quest(s) can be completed?
				</li>
				<li class="checkbox">
					<input type="checkbox" ng-click="autoPassCheck()" ng-model="autoPass"> Auto-pass when out of gold?
				</li>						
			</ul>
		</div>
			
		<!-- =============================================== -->
		<!-- ALL OUR CHECKBOXES AND RADIO BOXES WILL GO HERE -->
		<!-- =============================================== -->
		
		<!-- SUBMIT BUTTON (DOESNT DO ANYTHING) -->
		<!--<button class="btn btn-danger btn-lg" ng-click="newGame(1, 'Gary')">Start 1 player test Game</button>  -->   
		<!--<button class="btn btn-primary" ng-click="joinGame(playerName, playerId)" ng-cloak>Join Game</button>-->
			
	</form>
</div>