		    

<div class="panel panel-primary" ng-show="player.active">  
	<div class="panel-heading">  
		<div class="panel-body">
		
		        <table class="table table-condensed">

					<thead>
						<tr>
							<th><big>Player {{player.id+1}}</big></th>
							<th><big>Actions Remaining {{player.actionsRemaining}}</big></th>

							<th><big>VP: {{player.vp}}</big></th>
							<th><big>Gold: {{player.gold}}</big></th>
						</tr>
					</thead>
				</table>
				

		</div>
	</div>
	<br></br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" ng-repeat="cart in player.carts" >
                <cart my-directive="callbackRoutine" info="cart"></cart>
            </div>
				<!--class="gallery-image fade-animation"-->
		</div>
    </div>            
	
	<div my-directive="callbackRoutine" style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;" class="img" ng-repeat="card in player.cards.cardsInStack" >
		<card  info="card"></card>
	</div>
	
</div>




