			<div>
				<span class="panel-title pull-right"><button class="btn btn-primary" ng-show="true" ng-click="showLogResults()">{{showLogText}}</button></span>
			</div>
			<br></br>
			<div ng-show="showLog" class="panel-title pull-right">
				 <table table-height="200px" class="table table-bordered" fixed-header>
					<thead>
						<tr>
							
							<td width="550px">Log Results</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="log in eventsLog track by $index">
							<td width="50px">{{log.name}}</td>
							<td width="500px">{{log.logItem}}</td>
						</tr>
					</tbody>
<!--					<tfoot>	<tr><td width="50px">End Log</td><td width="500px"></td></tr></tfoot>	-->
				</table>
			</div>
			