	<div class="panel panel-info" style="float:center; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">  
		<div class="panel-heading">  
			<div class="panel-body">


	<table style="float: center" table table-condensed">
		<thead>
		<tr>
			<td>
				<h4>Quests to complete:</h4> 
			</td>
		</tr>		
		<tr>
			<td>				
				<span ng-repeat="questcard in game.questsInPlay.playingCards track by $index">
					<button ng-disabled="loadingData===true" ng-show="isActive===true" ng-if="questcard.selected===true" class="btn btn-warning" ng-click="playerCompleteQuest($index)">Complete Quest?</button>
				</span>	
			</td>
		</tr>
		<tr>
			<td>
				<span ng-repeat="questcard in game.questsInPlay.playingCards track by $index">
					<questcard ng-show="questcard.level != 4" ng-click="userClickedQuestImage($index)" info="questcard"></questcard>
				</span>	
			</td>
		</tr>
		</thead>
	</table>
</div>
</div>
</div>



 